@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background: linear-gradient(-45deg, #cb98fb, #3b0046);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 100%;
  display: flex;
  padding: 0 20px;
}
.slide{
  position: relative;
  height: 90vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  flex:1;
  transition: 0.5s all ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slide h3{
  position: absolute;
  font-size: 35px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  color: rgb(253, 185, 244);
  opacity: 0;
}
.slide.active{
  flex:10
}
.slide.active h3{
  opacity: 1;
  transition: 0.5s opacity ease-in 0.4s;
}